<div class="footer-main">
  <div class="container">
    <hr>
    <div class="row">
        <div class="col-lg-12 mail-footer-info-title">
          <ul>
            <li><a>Meetings</a></li>
            <li><a>Media</a></li>
            <li><a>Trade</a></li>
            <li><a>About</a></li>
          </ul>
        </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-lg-12 footer-info-height">
       <div class="col-lg-2 footer-sub-styles">
          <div class="footer-title-style">
            <p>Information</p>
          </div>
          <ul class="footer-Info">
            <li><a>Tourist Service</a></li>
            <li><a>Travel to Zurich</a></li>
            <li><a>Getting Around</a></li>
            <li><a>Zürich Card</a></li>
            <li><a>Trip Planner</a></li>
          </ul>
       </div>
       <div class="col-lg-2 footer-sub-styles">
          <div class="footer-title-style">
            <p>Where to Stay</p>
          </div>
          <ul class="footer-Info">
            <li><a>Hotels</a></li>
            <li><a>Bed & Breakfast</a></li>
            <li><a>Hostels</a></li>
            <li><a>Apartments All </a></li>
            <li><a>Accomodation</a></li>
          </ul>
       </div>
       <div class="col-lg-2 footer-sub-styles">
          <div class="footer-title-style">
            <p>Discover</p>
          </div>
          <ul class="footer-Info">
            <li><a>City of the Locals</a></li>
            <li><a>Attractions & Sights</a></li>
            <li><a>Food & Drinks</a></li>
            <li><a>Shopping</a></li>
            <li><a>City Tours</a></li>
          </ul>
       </div>
       <div class="col-lg-2 footer-sub-styles">
          <div class="footer-title-style">
            <p>Organization</p>
          </div>
          <ul class="footer-Info">
            <li><a>Team</a></li>
            <li><a>Media</a></li>
            <li><a>Travel Trade</a></li>
            <li><a>Film Office</a></li>
          </ul>
       </div>
       <div class="col-lg-4 footer-sub-styles">
          <div class="footer-title-style">
            <p>Tourist Information</p>
          </div>
          <div class="footer-Info">
            <p>
              <a class="phone" href="">Tel. +91 9173972020</a><br>
              <a class="mail" href="">info@tourist.com</a>
            </p>
            <p class="openin-hours">Opening Hours</p>
            <div class="mod_table">
              <table>
                <tbody>
                  <tr>
                    <td>Monday to Sunday</td>
                    <td>8:00 am - 8:30pm</td>
                  </tr>
                  <tr>
                    <td>Sunday</td>
                    <td>8:30 am - 6:30pm</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
       </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="col-lg-6" style="float: left;">
          <div>
              <p class="subscribe-title">SUBSCRIBE TO OUR NEWSLETTER!</p>
          </div>
          <div>
              <input type="email" name="email" placeholder="Enter your email address" class="foorter-email-input">
              <input type="submit" name="send" value="SEND" class="footer-send-btn">
          </div>
        </div>
        <div class="col-lg-6" style="float: right;">
          <div>
            <p class="let-connect-title">LET'S CONNECT</p>
          </div>
          <div>
              <ul class="footer-media">
                <li>
                  <a href=""><i class="fa fa-facebook-f"></i></a>
                </li>
                <li>
                    <a href=""><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                    <a href=""><i class="fa fa-instagram"></i></a>
                </li>
                <li>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                </li>
                <li>
                    <a href=""><i class="fa fa-pinterest-p"></i></a>
                </li>
                <li>
                    <a href=""><i class="fa fa-youtube"></i></a>
                </li>
                <li>
                    <a routerLink="/login"><i class="fa fa-tripadvisor"></i></a>
                </li>
              </ul>
            </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-lg-12">
        <div class="col-lg-12 footer-term text-center">
          <div>
            <p>@2018 Banglure Tourist. All rights reserved. <a href="">Contact</a>&nbsp;&nbsp;<a href="">Privecy Policy</a>&nbsp;&nbsp;<a href="">Terms & Conditions</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>