
<star-rating-comp  [starType]="'svg'"
                   [labelPosition]="'top'"
                   [size]="'large'"
                   [step]="0.5"
                   [numOfStars]="5"
                   [readOnly]="false"
                   [space]="'around'"
                   [showHalfStars]="true"
                   [hoverEnabled]="true"
                   (onClick)="onClick($event)"
                   (keydown)="onKeyDown($event)"
                   (mouseleave)="onStopHover()">
                   (onHoverRatingChange)="onHoverRatingChange($event)"
                   (onRatingChange)="onRatingChange($event)">
</star-rating-comp>


<!--<p>onHoverRatingChangeResult: {{onHoverRatingChangeResult | json}}</p>-->
<!--<p>onClickResult: {{onClickResult | json}}</p>-->
<!--<p>onRatingChangeResult: {{onRatingChangeResult | json}}</p>-->

<!--<star-rating-comp-->
<!--[id]="'album-rating'"-->
<!--[starType]="'svg'"-->
<!--[rating]="2.63"-->
<!--[staticColor]="'ok'"-->
<!--[hoverEnabled]="true"-->
<!--[size]="'large'"-->
<!--[step]="0.5"-->
<!--[showHalfStars]="true"-->
<!--[numOfStars]="10"-->
<!--[readOnly]="false"-->
<!--[rating]="3">-->
<!--</star-rating-comp>-->

