.navbar, .mat-form-field{
  font-weight: 700;
  font-size: 18px;
}
header {
  margin-bottom: 10px;
}
.header-logo{
  padding-top: 0px;
}
.navbar-expand-lg{
  height: 70px;
}
.header-logo img{
  width: 250px;
  float: left;
  height: 65px;
}
.header-menu ul{
  display: flex;
  padding-left: 30px;
  margin-top: 18px;
}
.header-menu ul li{
  padding-right: 20px;
}
.header-menu ul li a{
  font-size: 18px;
  color: #9BADA9;
  font-weight: bold;
  text-decoration: none;
}
.header-login{
  text-align: right;
  margin-top: 8px;
}
.header-login a{
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.header-menu ul li a:hover{
  color: rgba(0, 123, 255, 0.25) !important;
}
.navbar.navbar-dark .navbar-nav .nav-item .header-login:hover {
  color: rgba(255, 255, 255, 0.75);
}
#navBarNav{
  display: block;
  float: left;
}
.marging-right{
  margin-right: 15px;
}

