<div>
<div  class="">
  <app-carousel></app-carousel>
</div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="banner-find">
          <a routerLink=""><i class="fa fa-map-marker" aria-hidden="true"></i>EXPLORE</a>
          <a routerLink=""><i class="fa fa-eye"></i>FIND</a>
        </div>
      </div>
    </div>
  </div>
  <hr> 
  <div class="container">
    <div class="row">
      <div class="col-lg-12 attraction-padding">
        <p class="text-center">
          <a href="">Explore</a>
        </p>
        <h1 class="text-center">Fall in Love With Bangluru</h1>
        <div class="col-lg-12 attraction-big-image">
          <div class="image">
            <img src="assets/pexels-photo-302740.jpeg">
          </div>
        </div>
        <div class="col-lg-4 homepage-attraction-image">
          <a routerLink="attraction">
            <div class="image">
              <img src="assets/pexels-photo-104750.jpeg">
              <!-- <div class="attraction-image-title">Place name and Attraction</div> -->
            </div>
          </a>
        </div>
        <div>
          <a routerLink="attractionlist">All Page</a>
        </div>
        <!-- <div class="col-lg-4 homepage-attraction-image">
          <div class="image">
            <img src="assets/pexels-photo-335966.jpeg">
            <div class="attraction-image-title">Place name and Attraction</div>
          </div>
        </div> -->
        <!-- <div class="col-lg-4 homepage-attraction-image">
          <div class="image">
            <img src="assets/pexels-photo-459057.jpeg">
            <div class="attraction-image-title">Place name and Attraction</div>
          </div>
        </div> -->
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="home-page-find-styles">
          <div>
            <p class="text-center">
              <a href="">Find</a>
            </p>
            <h1 class="text-center">What Are You Looking For?</h1>
          </div>
          <div>
            <ul>
              <li class="col-lg-3">
                <a>
                  <i class="fa fa-bed" aria-hidden="true"></i>Accommodation</a>
              </li>
              <li class="col-lg-3">
                <a><i class="fa fa-cutlery" aria-hidden="true"></i>Restaurants</a>
              </li>
              <li class="col-lg-3">
                <a>
                  <i class="fa fa-glass" aria-hidden="true"></i>Bars & Clubs</a>
              </li>
              <li class="col-lg-3">
                <a>
                  <i class="fa fa-calendar" aria-hidden="true"></i>Events</a>
              </li>
              <li class="col-lg-3">
                <a><i class="fa fa-globe"></i>Sights</a>
              </li>
              <li class="col-lg-3">
                <a><i class="fa fa-bus"></i>Tours& Excursions</a>
              </li>
              <li class="col-lg-3">
                <a>Calture</a>
              </li>
              <li class="col-lg-3">
                <a>
                  <i class="fa fa-shopping-bag"></i>Shopping</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 even-panel-pane">
        <div class="panel-pane">
          <div class="col-lg-12">
            <p class="text-center">
              <a href="">Events</a>
            </p>
            <h1 class="text-center">Top Events You Shouldn't Miss!</h1>
          </div>
          <hr>
          <div class="col-lg-12">
            <div>
              <div class="content clearfix">
                <div class="image-wrapper col-lg-3">
                  <div class="image">
                    <img src="assets/pexels-photo-602607.jpg">
                  </div>
                </div>
                <div class="teasercontent col-lg-5">
                  <a></a>
                  <div class="main-info-wrapper">
                    <div class="left">
                      <div class="category">
                        <p>Aug 4, 2018</p>
                      </div>
                      <div class="-event-title">
                        <h3>Agra!</h3>
                      </div>
                    </div>
                  </div>
                  <div class="columns">
                    <div class="left-column column">
                      <div class="text boxcontent">
                        <p>Things heat up at Caliente! Europe’s largest Latin festival creates a lively ambiance, with its South
                          American music, cuisine and market stalls.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 event-location">
                  <div id="googleMap">
                    <a>
                      <i class="fa fa-map-marker" aria-hidden="true"></i>Vanavil Inc.</a>
                  </div>
                  <div>
                    <a>
                      <i class="fas fa-calendar-alt"></i>
                      <p>Aug 4, 2018 to</p>
                      <p>Aug 17, 2018...</p>
                    </a>
                  </div>
                </div>
                <div class="more-bottom">
                  <div class="right">
                    <div>
                      <a href="">
                        <i class="fa fa-angle-right"></i>More</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <div>
                <div class="content clearfix">
                  <div class="image-wrapper col-lg-3">
                    <div class="image">
                      <img src="assets/pexels-photo-887828.jpeg">
                    </div>
                  </div>
                  <div class="teasercontent col-lg-5">
                    <a></a>
                    <div class="main-info-wrapper">
                      <div class="left">
                        <div class="category">
                          <p>Aug 4, 2018</p>
                        </div>
                        <div class="-event-title">
                          <h3>Caliente!</h3>
                        </div>
                      </div>
                    </div>
                    <div class="columns">
                      <div class="left-column column">
                        <div class="text boxcontent">
                          <p>Things heat up at Caliente! Europe’s largest Latin festival creates a lively ambiance, with its South
                            American music, cuisine and market stalls.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 event-location">
                    <div id="googleMap">
                      <a>
                        <i class="fa fa-map-marker" aria-hidden="true"></i>Vanavil Inc.</a>
                    </div>
                    <div>
                      <a>
                        <i class="fas fa-calendar-alt"></i>
                        <p>Aug 4, 2018 to</p>
                        <p>Aug 17, 2018...</p>
                      </a>
                    </div>
                  </div>
                  <div class="more-bottom">
                    <div class="right">
                      <div>
                        <a href="">
                          <i class="fa fa-angle-right"></i>More</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <hr>
            <div class="col-lg-12">
              <div>
                <div class="content clearfix">
                  <div class="image-wrapper col-lg-3">
                    <div class="image">
                      <img src="assets/IMG1.JPG">
                    </div>
                  </div>
                  <div class="teasercontent col-lg-5">
                    <a></a>
                    <div class="main-info-wrapper">
                      <div class="left">
                        <div class="category">
                          <p>July 23, 2018</p>
                        </div>
                        <div class="-event-title">
                          <h3>Avohi!</h3>
                        </div>
                      </div>
                    </div>
                    <div class="columns">
                      <div class="left-column column">
                        <div class="text boxcontent">
                          <p>Things heat up at Caliente! Europe’s largest Latin festival creates a lively ambiance, with its
                            South American music, cuisine and market stalls.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 event-location">
                    <div id="googleMap">
                      <a>
                        <i class="fa fa-map-marker" aria-hidden="true"></i>Vanavil Inc.</a>
                    </div>
                    <div>
                      <a>
                        <i class="fas fa-calendar-alt"></i>
                        <p>July 23, 2018 to</p>
                        <p>Aug 02, 2018...</p>
                      </a>
                    </div>
                  </div>
                  <div class="more-bottom">
                    <div class="right">
                      <div>
                        <a href="">
                          <i class="fa fa-angle-right"></i>More</a>
                      </div>
                    </div>
                  </div>
                </div>
                <hr>
                <div>
                    <div class="content clearfix">
                      <div class="image-wrapper col-lg-3">
                        <div class="image">
                          <img src="assets/pexels-photo-887828.jpeg">
                        </div>
                      </div>
                      <div class="teasercontent col-lg-5">
                        <a></a>
                        <div class="main-info-wrapper">
                          <div class="left">
                            <div class="category">
                              <p>Aug 4, 2018</p>
                            </div>
                            <div class="-event-title">
                              <h3>Caliente!</h3>
                            </div>
                          </div>
                        </div>
                        <div class="columns">
                          <div class="left-column column">
                            <div class="text boxcontent">
                              <p>Things heat up at Caliente! Europe’s largest Latin festival creates a lively ambiance, with its South
                                American music, cuisine and market stalls.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4 event-location">
                        <div id="googleMap">
                          <a>
                            <i class="fa fa-map-marker" aria-hidden="true"></i>Vanavil Inc.</a>
                        </div>
                        <div>
                          <a>
                            <i class="fas fa-calendar-alt"></i>
                            <p>Aug 4, 2018 to</p>
                            <p>Aug 17, 2018...</p>
                          </a>
                        </div>
                      </div>
                      <div class="more-bottom">
                        <div class="right">
                          <div>
                            <a href="">
                              <i class="fa fa-angle-right"></i>More</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <hr>
                <div class="col-lg-12">
                  <div>
                    <div class="content clearfix">
                      <div class="image-wrapper col-lg-3">
                        <div class="image">
                          <img src="assets/pexels-photo-346824.jpeg">
                        </div>
                      </div>
                      <div class="teasercontent col-lg-5">
                        <a></a>
                        <div class="main-info-wrapper">
                          <div class="left">
                            <div class="category">
                              <p>July 23, 2018</p>
                            </div>
                            <div class="-event-title">
                              <h3>Surprising diversity!</h3>
                            </div>
                          </div>
                        </div>
                        <div class="columns">
                          <div class="left-column column">
                            <div class="text boxcontent">
                              <p>Things heat up at Caliente! Europe’s largest Latin festival creates a lively ambiance, with its
                                South American music, cuisine and market stalls.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4 event-location">
                        <div id="googleMap">
                          <a>
                            <i class="fa fa-map-marker" aria-hidden="true"></i>Vanavil Inc.</a>
                        </div>
                        <div>
                          <a>
                            <i class="fas fa-calendar-alt"></i>
                            <p>July 23, 2018 to</p>
                            <p>Aug 02, 2018...</p>
                          </a>
                        </div>
                      </div>
                      <div class="more-bottom">
                        <div class="right">
                          <div>
                            <a href="">
                              <i class="fa fa-angle-right"></i>More</a>
                          </div>
                        </div>
                      </div>
                    </div>
    
              </div>
              <div class="text-center show-all-events">
                <p>
                  <a href="">SHOW ALL EVENTS</a>
                </p>
              </div>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
